.columna{
         width: 50%;
         box-sizing: border-box;
         -moz-box-sizing: border-box;
         padding: 0.625em;
        }

.columna.contacto{
                  border-right: 1px solid #ddd;
                  float: left;
                 }
        
.datos{
       float: right;
      }

.datos p{
         font-size: 0.8em;
        }

.datos ul li{
             font-size: 0.8em;
            }

.formulario label{
                  vertical-align: top;
                  width: 25%;
                  display: inline-block;
                 }
                
.formulario input,.formulario textarea{
                                       background-color: #ddd;
                                       border-radius: 5px;
                                       border: 1px solid #999;
                                       padding: 0.4em 0.6em;
                                       font-size: 0.8em;
                                       width: 90%;
                                      }
                        
.formulario textarea{
                     height: 18em;
                     resize: none;
                    }
                
.formulario .acciones{
                      text-align: center;
                     }

.formulario input[type="submit"]{
                                 background-color: #9da9ed;
                                 box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                                 color: white;
                                 font-size: 1em;
                                 padding: 0.4em 0.2em;
                                 text-align: center;
                                 width: auto;
                                }